# Module One

At the end of the Module One, student should be able to:
  - understand and know the basic data types of the Python Language
  - understand and know the differences between lists, sets and tuples
  - understand and know how the input and output functions work

# 1.0 Introduction to Python: Using Python

Python is a cross-platform programming language, which means it runs on all the major operating systems. It is an incredibly efficient programming language. This translates to programmes doing more in few lines of code than many other languages would require. Python's syntax mwill help you write "clean" codes because it is easy to read, easy to debug and easy to extend and build upon compared to other programming languages.
 
Python has many uses ranging from creation of games, building web applications, solving business problems, and developing internal tools at all kinds of interesting companies. Because of its ease of understanding, it is used heavily in scientific fields for academic research and applied work.

Luckily, there is an incredibly diverse and welcoming group of people in the Python Community to assist with any difficulty one may face in a project. Even the most experienced programmers, need advice from others who have already solved similar problems. 

Ladies are more advantaged because large companies like Microsoft are giving opportunities to ladies who are interested in learning and using the Python Programming Language.

Python is a great language to learn, so let's get started!

## 1.1 Installing the software

Python can be run with various softwares. I advice you install the Anaconda software from anaconda.com.

# 1.2 Basic things to know

## Variables and Functions
Variables in programming are used to store data or values. Functions, on the other hand, are used to perform some operations on these variables and their values for a preferred output. Functions will be treated further in the subsequent modules

In [1]:
a = 15
b = 59.5
c = "Be happy"
print(a)
print(b)
print(c)

15
59.5
Be happy

From the above codes, 'a', 'b' and 'c' are variables. Variable 'a' has a value '15', b has a value '59.5 likewise c with a value 'Be happy'. You notice that the '=' operator was used to assign values to the variables. We will learn about operators in detail later.
'print' also revealed what was in the variable. That is a function which outputs the value of the variable. There are several functions which will be explained as we progress.

## Rules for naming a variable
Variable names consist of alphabets and digits or an underscore. The underscore is used to create variable names with two or more words. Note that you cannot begin a variable name with a digit.

There are other popular name styles that can be used and is popular among Python programmers. One is the *camelCase* naming convention. Names in this format are written in a manner where the variable name begins with lowercase letter and the first character of the subsequent words is written in uppercase

Examples 'first_name', 'finance_class', 'number1', 'firstName' etc. Despite the fact that you can use words, there are some words that cannot be used as variable names because they have special meanings; 'for, except, if, try, from etc.

## Comments
In programming, a comment is used to describe what is going on inside a programme or what a line of code means. Comments are ignored by the Python interpreter. The hashtag # symbol is used to start writing a comment

In [2]:
# This is a comment
a = 'Python' # a contains 'Python'
print(a)

Python

# 2.0 Data Types and Data Structures

Python offers various basic data types and structures and we will treat these data types, their features and how to use them in our codes. Data types represent a kind of value which determines what operations can be performed on the data. These data types are integers, strings, floats and Booleans (True/False). 

For data structures we have lists, sets, tuples, and dictionaries

## 2.1 Data Types

### 2.1.1 Strings, Integers and Floats

Often times in most programming languages, the first project or code you learn to write is "Hello World!"

In [3]:
print("Hello Python World!")

Hello Python World!

### 2.1.1 Strings
String is a literal which refers to a sequence of characters surrounded by quotation marks. We can use either single, double or triples quotes for a string. The 'Hello Python World!' printed above is a string because it was written in quotes. Let's try another,

In [4]:
name = "Ama Kwansima"
other_name = 'Ato Kwamina'
multiline_string = """Name: Kofi
Age: 25
Town: Accra"""
print(name)
print(other_name)
print(multiline_string)

Ama Kwansima
Ato Kwamina
Name: Kofi
Age: 25
Town: Accra

To check the type of the value of a variable, the type() function is used

In [5]:
print(type(name))

<class 'str'>

Let's try assigning 'Python' to any variable of your choice, then print the type of class it is.

Other functions that can be performed on strings

In [6]:
text = "My Very Eyes May Just See Under Nine Planets"
print(text)
print(len(text))
print(text.lower())
print(text.upper())

My Very Eyes May Just See Under Nine Planets
44
my very eyes may just see under nine planets
MY VERY EYES MAY JUST SEE UNDER NINE PLANETS

#### 2.1.1.1 String Indexing
Python uses '0 indexing'. This means that it starts numbering the elements from 0 to the end

In [7]:
word = "Benevolent"
print(word[0]) # prints the first element of the variable

B

In [8]:
print(word[4]) # prints the fifth element of the variable

v

In [9]:
print(word[6]) # what element does it print?

l

#### Ranges
A range of elements can be printed

In [10]:
print(word[0:6]) # prints out the first to fifth element

Benevo

In [11]:
print(word[2:6]) # prints third to fifth element

nevo

In [12]:
print(word[:7]) # prints first to sixth element

Benevol

In [13]:
print(word[6:]) # prints from the seventh element to the end

lent

Try printing out 'volent'

### 2.1.2 Integers and Floats
Integers are simply whole numbers and floating-point numbers (floats) are numbers with decimal points.

In [14]:
a = 400
b = -30
c = 40.5
d = 1.525e2 # 1.525e2 is equivalent to 1.525*10^2
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

We can work on integers and floats with various operations such as the subtraction -, addition +, multiplication * , division /, and exponent ** . They can simply be concatenated directly using the print function or variables containing these data types

In [15]:
print(2+2) # addition
print(10-4) # subtraction
print(2*5) # multiplication
print(100/4) #division

4
6
10
25.0

In [16]:
x = 5
y = 10
print(x + y)
print(x - y)
print(x * y)
print(x ** y)

15
-5
50
9765625

### Notes

There are some operations that can be performed on some data types. 

Strings can be concatenated to strings but cannot be concatenated to integers and floats in their raw state (unless converted with a function). However, floats and integers can be concatenated but its output will be a float

In [17]:
first = "Python "
last = "Programming"
print(first + last)

Python Programming

In [18]:
a = "A "
b = 1
print(a + b)

TypeError: can only concatenate str (not "int") to str

In order to concatenate a string and an integer, there is the need to convert one to the other using either the int() or str() function. Note, a string can only be converted to an integer if the value is a number.

In [19]:
a = "A "
b = 1
print(a + str(b))

A 1

Let's assign 'Microsoft Office' to a variable and '2019' to another variable and concatenate the two.

## 2.2 Data Structures

Under data structures there are lists, sets, tuples and dictionaries

### 2.2.1 Lists
A list is a way of holding multiple elements together. They are usually identified by square brackets [ ] with commas separating each item

In [20]:
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [21]:
print(len(l)) # the len()function returns the number of elements in a variable

5

In [22]:
l.append(5) # the append()function adds a value on the end of a list
# this add only one value at a time
print(l)

[1, 2, 3, 4, 5, 5]

In [23]:
l.extend([6, 7, 8]) # the extend()function add multiple values
print(l)

[1, 2, 3, 4, 5, 5, 6, 7, 8]

Let's work with strings

In [24]:
stocks = ["Google", "Amazon", "Facebook", "Apple"]
stocks

['Google', 'Amazon', 'Facebook', 'Apple']

In [25]:
stocks[1] 
# prints out second element (Remember indexing under strings?)

'Amazon'

In [26]:
stocks.append("Twitter")
# adds Twitter to the end of the list
print(stocks)

['Google', 'Amazon', 'Facebook', 'Apple', 'Twitter']

In [27]:
stocks.insert(2, "Microsoft")
# adds the element at the 2nd index
print(stocks)

['Google', 'Amazon', 'Microsoft', 'Facebook', 'Apple', 'Twitter']

In [28]:
stocks[4] = "Snapchat"
# overwrites a value in a list by its index
print(stocks)

['Google', 'Amazon', 'Microsoft', 'Facebook', 'Snapchat', 'Twitter']

In [29]:
stocks.sort()
# rearranges the list in alphabetical order 
# arranges with capital alphabets first
print(stocks)

['Amazon', 'Facebook', 'Google', 'Microsoft', 'Snapchat', 'Twitter']

In [30]:
stocks.remove("Amazon")
# removes an element from the list
print(stocks)

['Facebook', 'Google', 'Microsoft', 'Snapchat', 'Twitter']

In [31]:
tech = stocks.pop()
# removes the last variable from a list and returns it to another variable
print(stocks)
print(tech)

['Facebook', 'Google', 'Microsoft', 'Snapchat']
Twitter

In [32]:
print(stocks * 2)
# repeats a list by that many times

['Facebook', 'Google', 'Microsoft', 'Snapchat', 'Facebook', 'Google', 'Microsoft', 'Snapchat']

In [33]:
stocks.clear()
# gets rid of all elemenets in a list
print(stocks)

[]

### 2.2.2 Tuples and Sets
These are similar to lists. Sets are identified by curly brackets { } whereas tuples are identified by parenthesis ( ). Sets only hold unique set of values.

In [34]:
t = (1,1,1,1,1,2,2,2,2,3,3,3,4,4,5)
print(t)

(1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 5)

In [35]:
t.count(1) # counts the number of the unique value in a tuple

5

In [36]:
s = set(t) # unique values of the variable t are assigned to s
print(s)

{1, 2, 3, 4, 5}

In [37]:
s1 = {1,2,3,4,5}
s2 = {2,4,6,8}
print(s1.union(s2)) # joins the unique elements of the sets
print(s1.intersection(s2)) # finds where they overlap

{1, 2, 3, 4, 5, 6, 8}
{2, 4}

# 3.0 Input and Output

Input in its basic meaning is entering data into a computer and then after processing, the result of the performed operation is output. Input is any data that the programme receives while it is running. And output is the end-result of the process sent out of the programme. We will discuss ways you can perform input and output functions using Python.

## 3.1 Output
It might seem awkward that we are beginning with the output function but it is actually the most basic and fundamental built-in function mostly used in Python which displays the output on the screen. Remember the first codes we run under the 'Basic things to know'? The print function was used to display the values of the variables. And we have used the print function many times under Data types and structures. (When you use or execute a function, in programming, you say you have _called a function_.)

When you call the _print_ function, you type the word print, followed by a set of parentheses where in-between you type an _argument_ which is what you want to display. You can also print the value of a variable by using the variable as the argument for the the print funtion without using any parentheses.

In [1]:
print('Hello PyGirls')

Hello PyGirls

In [2]:
print('Ama Ghana')                   # displays the name
print("123 Airport Hills")           # displays the address
print("Airport Residential, Accra")  # displays the town and city

Ama Ghana
123 Airport Hills
Airport Residential, Accra

As we have learnt under _strings,_ we can use single quotes, double quotes and multiline quotes. They simply mark where the string data begins and ends.

Comments are an essential part of writing codes in programmes. It is important that you take time to write comments as they will save you and others time in the future when you have to modify or debug the programme. It might be impossible to read and understand codes without comments.

In [8]:
print("""Ama Ghana
123 Airport Hills
Airport Residential, Accra""")

Ama Ghana
123 Airport Hills
Airport Residential, Accra

In [3]:
print('Ama Ghana \n123 Airport Hills \nAirport Residential, Accra')

Ama Ghana
123 Airport Hills
Airport Residential, Accra

In [10]:
width = 20
print('width')
print(width)

width
20

Notice the difference? We assigned '20' to the variable 'width' on the first line. Then we called print('width') to display 'width' on the second line. On the third line, we called print(width) to display the value of the variable.

In [11]:
print('The width of the table is')
print(width)

The width of the table is
20

In [13]:
print('The width of the table is', width)

The width of the table is 20

In [18]:
unit = 'centimeters'
print('The width of the table is', width, unit)

The width of the table is 20 centimeters

In [19]:
print(width, unit)

20 centimeters

The print function can print out a string argument together with a variable at the same time and the values of multiple variables also. Depending on how you may want your results to be displayed, there are other functions or codes in addition to the print function that can help you display your desired output.

## 3.2 Input
There is the need to read input and then perform an operation on that input. We will discuss a basic input operation which is reading data that has been typed on a keyboard. Note that this data is always assigned to a variable so the operations can be performed on it later.

In [20]:
name = input('What is your name? ')
print(name)

What is your name? Python
Python

In [21]:
first_name = input('Enter your first name: ') # user's first name
last_name = input('Enter your last name: ')   # user's last name
print('Hello', first_name, last_name)         # greeting to the user

Enter your first name: Ama
Enter your last name: Ghana
Hello Ama Ghana

You notice that in the first text box, the first line of code displayed 'What is your name? ' and waited for the you to enter a name. The name is then displayed by the second line of code which is the variable which the name was assigned to.

Same happens to the second text box with the _first and last name_ where their values are printed in the third line in addition to the _'Hello'_ string.

Now take a closer look at the lines of codes with the input function. You notice that the last character in the quote marks, is a space: _'Enter your last name: '_. This is done because the input funtion does not automatically display a space after the prompt. That makes user's input separate from the prompt.

#### Numbers with the input() function
By default, the object class of the input() function is a string. Therefore to work with integers or float from the input of a user, there is the need to have a _nested function call_.

In [4]:
born_year = int(input('Which year were you born? '))
age = 2019 - born_year
print('You are', age, 'years old.' )

Which year were you born? 1996
You are 23 years old.

Your age was calculated right from your input. This was possible because the first line converted your input to _integer_ making it possible for the second line of code to work by calculating your age. Remember we said that, integers can only be concatenated with integers and floats only.

This is what happens:
- It calls the input function to get your value entered.
- The value that is entered(string) is passed as an argument to the int() function.
- The integer value that is returned from the int() function is assigned to the _born_year_ variable.
- Then it is subtracted from 2019 to get your current age.

The same applies to the _float() function_. These only work if the input that is being converted is a number.